.portada{
    color:aliceblue;
  
    margin: 0;
    background-image: url("https://wallpapercat.com/w/full/8/7/7/194290-3840x2160-desktop-4k-outer-space-wallpaper-photo.jpg");
    background-position: center;
    background-size: cover;
    
    
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado horizontal */
    align-items: center; 
    
    
    font-size: 60px;
   
    
}/*. por que es una class*/

.portada h1{
    margin: 0;
}
.portada p{
    margin: 0;
}


h1,h2,h3,h4,p{
    margin: 20px 20px;
}

body{
    color:green;
    background-color: #225149;
    
    margin: 0;
   
}



button{
    background-color: greenyellow;
    color: black;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 10px;
    font-size: auto;
    cursor: pointer;
    transition: 0.7s;
}
button:hover{
    background-color:#C4D600;
    color: black;
    transform: scale(1.5);
}

img{
    box-shadow: 0 0 10px greenyellow;
    border-radius: 10px;
    transition: 0.7s;
    margin:20px;
 
}
img:hover{
    transform: scale(1.2);
}
#oculta:hover{
    transform: none;
}



